*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*Cabeçario*/

#cabeça{
    background-image: linear-gradient(to left, rgb(80, 6, 6), black);
    width: 100%;
    padding-bottom: 0.5%;
}

#home{
    margin-left: 0%;
}

#lupa{
    width: 30px;
    height: 30px;
}

#canto{
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#car, #cont{
    width: 40px;
    height: 40px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

#in_cab{
    border-radius: 10px;
    border: solid;
    border-color: white;
    color: white;
    background-color:rgb(62, 20, 20);
    width: 400px;
    height: 30px;
}

menu{
    display: flex ;
    flex-direction: row;
    width: 250px;
}

menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

menu div{
    padding: 5px;
    margin-right: 3px;
    background-color: rgba(149, 2, 2, 0.635); 
    border-radius: 4px;
    transition: 1s;
}

menu div:hover{
    background-color: rgb(223, 46, 46); 
    
}
menu a:hover{
    color: rgb(46, 0, 0);
}

#pesquisa_b{
    border: none;
    background-color: transparent;
}

#barra_p{
    display: flex;
   flex-direction: row;
   padding-top: 5px;
}

/*Corpo 1*/

/*serve*/
#serve {
    background-color: rgb(207, 0, 0);
    color: white;
    height: 65px;
}

#link_serve{
    color: white;
    text-decoration: none;
}

#titulo_serve, #link_serve{
    padding-left: 15px;
}
/*Destaques*/

/*Mais vendidos*/

#m_vendidos{
    background-image: linear-gradient(to left, rgb(135, 10, 10), black);
    height: 510px;
}

#titulo_mv{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    color: white;
}

.produtos_mv{
    border-radius: 20px;
    background-color: rgb(251, 0, 0);
    margin: 7px;
    width: 500px;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.escrito_mv{
    height: 90px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

#sepa_mv{
    display: flex;
    justify-content: space-evenly;
}

#ver_produtos{
    display: flex;
    justify-content: end;
    margin: 2px 20px 10px 0px;
    text-decoration: none;
    color: white;
    align-items: center;
}

#seta{
    margin-left: 3px;
    width: 12px;
    height: 12px;
}

/*Avaliações*/

#avaliacao_clientes{
    height: 400px;
}

#clientes{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#corpo_ava{
    display: flex;
    justify-content: space-evenly
}

.bloco_ac{
    display: flex;
    background-color: gainsboro;
    width: 320px;
    height: 300px;
    flex-direction: column;
    border-radius: 20px;
}

.parte_cima{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 9px;

}

.perfil_nome_p{
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.avaliacao_c{
    padding-left: 10px;
    margin-top: -9px;
}

.estrelas_c{
    width: 140px;
    height: 90px;
    margin-top: -25px;
}

.perfil_c{
    width: 80px;
    height: 80px;
}

/*Rodapé*/
/*Email*/

#email{
    display: flex;
    flex-direction: row;
    background-color: rgb(207, 0, 0);
    color: white;
    height: 65px;
    align-items: center;
    justify-content: space-evenly;
}

#nome_emi{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#emial_n input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    background-color: rgb(231, 50, 50);
    color: white;
}

#emial_n button{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0px rgb(89, 1, 1);
    border: none;
}

#icone_email{
    width: 55px;
    height: 55px;
}
/*Suporte*/

#suporte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, rgb(80, 6, 6), black);
}

.bloco_s{
    display: flex;
    padding: 20px;
}

.linha{
    height: 300px;
    border-left: 2px solid;
}

#bloco2{
    margin-right: 400px;
}

.separar{
    margin-left: 14px;
}