*{
    margin: 0px;
    padding: 0px;
}

#cabeça{
    background-image: linear-gradient(to left, rgb(80, 6, 6), black);
    width: 100%;
    padding-bottom: 1px;
}

#home{
    padding-left: 5px;
}

#lupa{
    width: 12px;
    height: 12px;
}

#canto{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#car{
    padding-right: 20px;
}

#car, #cont{
    width: 25px;
    height: 25px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

input{
    border-radius: 10px;
    border: solid;
    border-color: white;
    color: white;
    background-color:transparent;
}

menu{
    display: flex ;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

menu div{
    padding: 2px;
    margin-right: 3px;
    background-color: rgba(149, 2, 2, 0.635); 
    border-radius: 2px;
    transition: 1s;
}

menu div:hover{
    background-color: rgb(223, 46, 46); 
    
}
a:hover{
    color: rgb(46, 0, 0);
}
